*{
        box-sizing: border-box;
    }
    .container{
        width: 100%;

       
        display: flex;
        /* flex-wrap: wrap; */
        
        
    }
    .concalen{
        margin: 30px auto;
        display: flex;
        flex-wrap: wrap;
       


    }
    .pic{
        width: 0;
       
    }
    .pic2{
       
       
        width: 0;
    }
    .pic3{
        margin: 0 auto;
       
        width: 0 ;
       
    }

    .pic3>img{
        width: 250px;
        position: fixed;
       bottom: -0;
       right: 1000;
    }
    .pic2>img{
        width: 50px;
        position: fixed;
        right: 0 ;
        bottom: 300;
    }

    
    .pic>img{
        width: 100px;
        position: relative;
        left: -20 ;
    }
    .pic>img:hover{
        left: -58 ;
        top: 10;

    }
    .pic2>img:hover{
       right: -22;
       bottom: 305;

    }
    .pic3>img:hover{
        bottom: -80;
        right: 1050;
       

    }
    .concalen,.month,.nav,.return{
        width: 50%;
    }
    .concalen >div{
        border: 1px solid #cccccce8;
        width: calc(100%/ 7);
        height: calc(40vh / 7);
        margin-left: -1px;
        margin-top: -1px;
        text-align: end;
        padding-top: 5px;
        padding-right: 5px;
        font-size: 16px;
        font-family:"蘋果繁中";
        color:darkgray;
        font-weight: 100;
        
    }
    .concalen >div:hover{
        
        outline: 1px solid pink;
        outline-offset: -2.5px; 
        opacity: 0.9;
    }

    
    .concalen >div:nth-child(1),
    .concalen >div:nth-child(7),
    .concalen >div:nth-child(8),
    .concalen >div:nth-child(14),
    .concalen >div:nth-child(15),
    .concalen >div:nth-child(21),
    .concalen >div:nth-child(22),
    .concalen >div:nth-child(28),
    .concalen >div:nth-child(29),
    .concalen >div:nth-child(35),
    .concalen >div:nth-child(36),
    .concalen >div:nth-child(42),
    .concalen >div:nth-child(43),
    .concalen >div:nth-child(49)
    {
        background-color: lightpink;
        color: aliceblue;
        
        backdrop-filter: blur(3px) ;

    }
    .concalen >.today{
        font-size: 23px;
       
        /* text-align:center; */
      
        color: pink;
        /* outline: 1px solid pink;
        outline-offset: 5px; */
        /* box-shadow: 0 0 0 2px #88b8ff; */
       
        position: relative;
        
       
         
        

    }
    .concalen >.today::before{
        content: ' Today ';
        /* text-align:start; */
        /* text-transform: uppercase; */
        font-size: 15px;
        position: absolute;
        left: 8px;
        bottom: 5px;
    }
    .month{
        
        /* background-color: #ccc; */
        text-align:end;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #ccc;
        margin: 10px auto;
        /* border: 1px solid #ccc; */
        /* border-radius: 10%; */
        border-left: 20vw solid #ccc ;
        padding-right: 10px;
        letter-spacing: 2px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-right: 10px;
        
    }
    .nav a:hover  {
        /* border-top:1px solid pink ; */
        border-bottom: 1px solid pink;
        
    }
    .return>a:hover{
        border-top:1px solid pink ;
        
       
    }
    
    

       
        
     

   
    .next > a, .prev > a{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        color: #ccc;
        width:50%;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;

    }
    .return{
        
        /* background-color: #ccc; */
        text-align:start;
        
        margin: 10px auto;
        /* border: 1px solid #ccc; */
        /* border-radius: 10%; */
        border-right: 30vw solid #ccc ;
        /* padding-right: 10px; */
    }
    .return>a{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 15px;
        /* font-weight:bolder; */

    }
   
        
        
        
        
      

  
